{% extends "layout.html" %}

{% block bodyclass %}home{% endblock %}

{% block body %}
<div class="container">
	<div class="container-inner">
		<div class="name">
			<small>Hello, my name is</small>
			Tyler Johnson
			<small>and I write beautiful code.</small>
			<div class="mobile-too">(Yep, even on mobile too.)</div>
		</div>

		<div class="slogan"></div>

		<ul class="links">
			<li>
				<a href="https://github.com/tyler-johnson"><i class="fa fa-github"></i></a>
				<div class="alt"><div class="alt-inner">Github</div></div>
			</li>
			<li>
				<a href="https://twitter.com/MrGalaxy9"><i class="fa fa-twitter"></i></a>
				<div class="alt"><div class="alt-inner">Twitter</div></div>
			</li>
			<li>
				<a href="mailto:tyler@tylerjohnson.me"><i class="fa fa-envelope"></i></a>
				<div class="alt"><div class="alt-inner">Email</div></div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
