{% extends "layout.html" %}

{% block bodyclass %}home{% endblock %}

{% block body %}
<div class="container">
	<div class="container-inner">
		<div class="name">
			<div class="line">
				<small>Hello, my name is</small>
			</div>
			<div class="line">
				Tyler Johnson <small>(aka MrGalaxy)</small>
			</div>
			<!-- <div class="line">
				<small>Programmer, Gamer, and Streamer</small>
			</div> -->
			<!-- <div class="mobile-too">(Yep, even on mobile too.)</div> -->
		</div>

		<div class="slogan"></div>

		<ul class="links">
			<li>
				<a href="https://github.com/tyler-johnson"><i class="fa fa-github"></i></a>
				<div class="alt"><div class="alt-inner">Github</div></div>
			</li>
			<li>
				<a href="https://twitter.com/MrGalaxyTV"><i class="fa fa-twitter"></i></a>
				<div class="alt"><div class="alt-inner">Twitter</div></div>
			</li>
			<li>
				<a href="mailto:tyler@tylerjohnson.me"><i class="fa fa-envelope"></i></a>
				<div class="alt"><div class="alt-inner">Email</div></div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
