{% extends "layout.html" %}

{% block bodyclass %}home{% endblock %}

{% block body %}
<div class="container">
	<div class="container-inner">
		<div class="name">
			<div class="line">
				<small>Hello, my name is</small>
			</div>
			<div class="line">
				Tyler Johnson <small>(aka MrGalaxy)</small>
			</div>
			<div class="line">
				<small>Software Engineer &amp; Architect at <a href="https://pagedip.com">Pagedip</a></small>
			</div>
			<!-- <div class="mobile-too">(Yep, even on mobile too.)</div> -->
		</div>

		<div class="slogan"></div>

		<ul class="links">
			<li>
				<a href="https://github.com/tyler-johnson" title="Github Profile"><i class="fa fa-github"></i></a>
				<div class="alt"><div class="alt-inner">Github Profile</div></div>
			</li>
			<li>
				<a href="mailto:tyler@tylerjohnson.me" title="Personal Email"><i class="fa fa-at"></i></a>
				<div class="alt"><div class="alt-inner">Personal Email</div></div>
			</li>
			<li>
				<a href="mailto:tyler@pagedip.com" title="Pagedip Email"><i class="fa fa-envelope-o"></i></a>
				<div class="alt"><div class="alt-inner">Pagedip Email</div></div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
