<!DOCTYPE html>

<html lang="en-US">
	<head>
		<!-- {{ name }} {{ version }} -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ title }}</title>

		<link rel="stylesheet" href="/assets/styles.css" type="text/css" />
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		{% block body %}{% endblock %}

		{% set color = getRandomColor() %}
		<div class="color">
			This color is {{ color.name.value }} ({{ color.hex.value }}).
			Get a <a href="">different color</a>.
		</div>
		<style type="text/css">body { background-color: {{ color.hex.value }}; }</style>
	</body>
</html>
