@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);

html,
body.home {
  height: 100%;
  position: relative;
}

body {
  font-family: "Oxygen Mono", monospace;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

@media (max-width: 769px) {
  body {
    margin: 0 1em;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  height: 100%;
}
.container .container-inner {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.container .name {
  font-size: 20px;
}
.container .name .line {
  margin: 0.25em 0;
}
.container .name small {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.7);
}
.container ul.links {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
}
.container ul.links li {
  display: inline-block;
  position: relative;
}
.container ul.links li a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 32px;
  opacity: 0.7;
  padding: 0 10px;
}
.container ul.links li a:hover {
  opacity: 1;
}
.container ul.links li div.alt {
  position: absolute;
  left: 50%;
  margin-top: -5px;
  opacity: 0;
  transition: opacity 200ms, margin-top 200ms;
}
.container ul.links li div.alt .alt-inner {
  float: left;
  position: relative;
  left: -50%;
  border-radius: 2px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.6);
}
.container ul.links li:hover div.alt {
  opacity: 0.8;
  margin-top: 0;
}

.color {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}

.error-container {
  max-width: 800px;
  margin: 0 auto;
}
.error-container h1.super {
  font-size: 90px;
  margin-bottom: 0;
}
.error-container h1.super small {
  font-size: 32px;
  display: block;
  color: rgba(255, 255, 255, 0.7);
}
.error-container .details {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 769px) {
  .error-container h1.super {
    font-size: 64px;
  }
  .error-container small {
    font-size: 24px;
  }
}
