@import "tailwindcss";
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "winter";
  default: true;
}

@plugin "daisyui/theme" {
  name: "night";
  prefersdark: true;
}

html,
body {
  @apply w-full h-full;
}
